<h1>Welcome to Bookmark Manager</h1>
<form action='/bookmarks/new' method='get'>
  <input type='submit' value='Add'>
</form>
<form action='/bookmarks/delete' method='get'>
  <input type='submit' value='Delete'>
</form>