<h1>Find Your Bookmark!</h1>
<form action='/bookmarks/update' method='post'>
  Enter either title or url:
  <input type='text' name='title' placeholder="Title">
  <input type='submit'  value='Find'>
</form>
