<ul>
  <% @bookmarks.each do |bookmark| %>
    <% bookmark.each do |title, url| %>
    <li><%= title %></li>
    <% end %>
  <% end %>
</ul>
<form action='/'>
  <input type='submit' value='Home'>
</form>
