<h1>Add Your Bookmark!</h1>
<form action='/bookmarks' method='post'>
  Enter your url and title:
  <input type='text' name='add_url'>
  <input type='text' name='add_title'>
  <input type='submit'  value='Submit'>
</form>
